@model LoginMVC.Models.Game

@{
    Layout = null;
}

@{

    ViewBag.Title = "AddGame";

}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Styles/game.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Styles/StyleSheet1.css" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="~/Styles/StyleSheet1.min.css" />

    <meta name="viewport" content="width=device-width" />
    <title>Admin Home</title>
    <style>
        .dataTables_length {
            margin-bottom: 30px;
        }

        .dataTables_filter {
            margin-bottom: 20px;
        }

            .dataTables_filter input {
                margin-left: 10px;
            }

        li {
            font-size: 70px;
        }

        table {
            margin-left: -200px;
            width: 1000px;
        }

        body{
            overflow-y:scroll;
        }

        .container .box {
            width: 1500px;
            margin-left: -500px;
            height: 730px;
            margin-top: -130px;
            background-color: rgba(255,255,255,0)
        }
        
        select {
            background-color: rgba(255,255,255,0.5);
        }
    </style>
</head>
<body>
    <div class="bg-image"></div>
    <div>
        <input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
        <label for="page-nav-toggle">
            <svg class="icon--menu-toggle" viewBox="0 0 60 30">
                <g class="icon-group">
                    <g class="icon--menu">
                        <path d="M 6 0 L 54 0" />
                        <path d="M 6 15 L 54 15" />
                        <path d="M 6 30 L 54 30" />
                    </g>
                    <g class="icon--close">
                        <path d="M 15 0 L 45 30" />
                        <path d="M 15 30 L 45 0" />
                    </g>
                </g>
            </svg>
        </label>

        <nav class="main-navigation">
            <ul>
                <li>@Html.ActionLink("Home","AdminHome","Admin")</li>
                <li>@Html.ActionLink("Add Game", "AddGame")</li>
                <li>@Html.ActionLink("Update Game", "UpdateGame")</li>
                <li>@Html.ActionLink("Delete Game", "DeleteGame")</li>
                <li>@Html.ActionLink("Active Customers List", "ActiveList")</li>
            </ul>
        </nav>
        <div class="container">
            <div class="box">
                <main class="main-content">
                    <select id="list">
                        <option value="1">Top 5 games</option>
                        <option value="2">Full list of games</option>
                        <option value="3">Customer list</option>
                    </select>
                    <table id="datatable1">
                        <thead>
                            <tr>
                                <th>Game ID</th>
                                <th>Game Name</th>
                                <th>Release Date</th>
                                <th>Availablity</th>
                                <th>Price</th>
                                <th>Genre</th>
                            </tr>
                        </thead>
                    </table>

                </main>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
                $.ajax({
                    url: 'https://localhost:44309/api/Games',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, xhr) {
                        console.log(data);

                            $('#datatable1').dataTable({
                                data: data,
                                columns: [
                                    { 'data': 'game_id' },
                                    { 'data': 'game_name' },
                                    { 'data': 'release_date' },
                                    { 'data': 'availability' },
                                    { 'data': 'game_price' },
                                    { 'data': 'Genre.genre_name' },
                                ]
                            });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });

        });
    </script>
</body>
</html>
