
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>TopGames</title>
    <style>
        #dearUser {
            color: black;
            font-size: 20px;
            margin-top: 10px;
            font-style: italic;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><u>Video Game Rental Store</u></a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index")</li>
                <li class="active">@Html.ActionLink("Top 5 Games", "TopGames")</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li id="dearUser">Dear - @User.Identity.Name</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                }
                else
                {
                    @Html.ActionLink("Login", "Index", "Login");
                }
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3>Basic Navbar Example</h3>
        <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
    </div>
</body>
</html>
